@import "./root.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  background: var(--soft-bg);

  display: flex;
  height: 2em;
  align-items: center;
  justify-content: center;

  color: var(--gray);
}

.footer__text {
  font-size: 14px;
}