:root {
    --dark-bg: #292929;
    --medium-bg: #383A3D;
    --soft-bg: #474b51;
    --gray: #CFCFCF;

    --main-color: #63C7BE;
    --dark-color: #458983;
    --darker-color: #426663;

    --white: #fcfcfc;
    --translucid-white: #fcfcfc9f;
}